<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="copy">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">
                <img class="logo" src="../static/img/logo.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown 1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" id="category-dropdown" aria-labelledby="navbarDropdown"></div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown 2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Suppliers
                        </a>
                        <div class="dropdown-menu" id="supplier-dropdown" aria-labelledby="navbarDropdown"></div>
                    </li>
                </ul>
                <div class="row">
                    <div id="cart-button" class="cart col-auto">
                        <div id="cart-item-counter" class="d-lg-block d-none">0</div>
                        <a>
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    <div id="cart-item-total-value" class="col-auto d-lg-block d-none ml-1 text-light">0 JPY</div>
                    <div id="cart-item-total-value-mobile" class="col-auto d-block d-lg-none h6 text-light">
                        You have <span class="text-info">0</span> item in your cart.<br>
                        Total price: <span class="text-info">0</span> JPY.
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>