body {
    background-image: url("/static/img/bg.jpg") ;
    background-size: cover;
    background-attachment: fixed;
}

.card-container {
    background-color: #f6f6f6f6 ;
    color: #6b646e;
    margin-bottom: 1.25rem;
    overflow: hidden;
    transition: 300ms;
}
    .card-vertical {
        height: 37.5rem;
    }

.btn.btn-dark {
    color: white !important;
}

.product-image {
    height: 22.5rem;
}

.card-container:hover {
    transform: scale(1.02);
    transition: 300ms;
}

.card-header {
    height: 11rem;
    text-align: center;
}

.card-header h4 {
    font-weight: bold;
    padding-top: 0.625rem;
}

.card-text {
    text-align: center;
}

.card-text p, .btn-dark {
    display: inline-block;
}

.card-text p {
    font-weight: bold;
    float: left;
}

.form-control::placeholder {
    color: #c3c3c3;
}
